*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

p{
    color: white;
}

i{
    color: white;
}

.flex{
    display: flex;
}

.container{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.top-options{
    height: 5vh;
    background-color: black;
    padding: 5px;
    justify-content: end;
    min-width: 100vw;
}

.content{
    height: 85vh;
    background-color: black;
    margin: 0 auto;
    width: 90vw;
    flex-wrap: wrap;
    overflow: auto ;
    justify-content: center;
}

.box{
    width: 400px;
    height: 250px;
    margin: 5px;
}

.btn{
    width: 100px;
    color:red;
    background-color: #4a4a4a;
    padding: 2.8vh;
    text-decoration: none;
    font-size: 0.9em;
}

.fa-share-square{
    color: green;
}

.navbar-link > p{
    font-size: 0.8em;
}

#bottom-nav{
    height: 10vh;
    min-width: 100vw;
    background-color: #222222;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
}

#navbar-left{
    justify-content: space-evenly;
    width: 10%;
}

#navbar-center{
    justify-content: space-evenly;
    width: 50%;
}

#navbar-right{
    width: 10%;
    justify-content: flex-end;
}

#speaker-view, #expand-box{
    padding: 0.2rem .4rem;
    border-radius: 5px;
    background-color: #4a4a4a;
    margin: 0 .2rem;
    display: inline-block;
    color: white;
    height: 25px;
}

#more{
    font-size: 0.7em;
}

